.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}
h1 {
    background-color: rgb(0, 46, 61);
    color: aliceblue;
    margin: 1rem;
}


article {
    grid-column: 2;
    
}

aside {
    grid-column: 1;
    grid-row: 2;
    
}

#currentWeather {
    background-color: rgb(225, 191, 191);
    border: lightblue;
    border: 1rem;
    padding: 1rem;
}
#fiveDay {
    display: flex;
}

.card {
    background-color: rgb(188, 228, 255);
    align-self: flex-end;
    margin-right: 3rem;

}

main {
    display: flex;
    justify-content: flex-end;
}
h3 {
    padding: 2rem;
}