.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
}
h1 {
    background-color: rgb(0, 46, 61);
    color: aliceblue;
}

article {
    grid-column: 2;
    padding: 10px;
    
}

aside {
    grid-column: 1;
    grid-row: 2;
}
