/* @media (min-width: 768px) {
    #fiveDay {
        background-color: rgba(102, 192, 203, 0.406)
    }
}
#fiveDay {
    background-color: rgb(184, 230, 245);
} */

/* creating ombre for background */
body {
    /* background: linear-gradient(#e1d0f8, #aac5de); */
    /* background: -moz-linear-gradient(top, #cedbe9 0%, #aac5de 17%, #99dbe8 50%, #aa70c7 51%, var(--pink) 30%, #c683b9 71%, #a37ecd 84%, #5b89be 100%); */
    background: -webkit-linear-gradient(top, #cedbe9 0%,
            #aac5de 17%,
            #99dbe8 50%,
            #aa70c7 51%,
            pink 30%,
            #c683b9 71%,
            #a37ecd 84%,
            #5b89be 100%);
    background: linear-gradient(to bottom, #cedbe9 0%,
            #aac5de 17%,
            #99dbe8 50%,
            #aa70c7 51%,
            pink 30%,
            #c683b9 71%,
            #a37ecd 84%,
            #5b89be 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aac5de', endColorstr='#5b89be', GradientType=0);

}

/* .container {
    /* display: grid; */
    /* grid-template-columns: 1fr 2fr;
    gap: 1 rem; */
/* } */
/* h1 {
    background-color: rgb(0, 46, 61);
    color: aliceblue;
    margin: 1rem;
} */


/* article {
    grid-column: 2;
    
}

aside {
    grid-column: 1;
    grid-row: 2;
    
} */

/* #currentWeather {
    background-color: rgb(225, 191, 191);
    border: lightblue;
    border: 1rem;
    padding: 1rem;
} */
/* 

.card {
    background-color: rgb(188, 228, 255);
    margin-right: 3rem;

}

#styleToPage {
    text-align: center;
}

main {
    display: flex;
    justify-content: flex-end;
}
h3 {
    padding: 2rem;
}

